
@{
    ViewData["Title"] = "Error";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    string message = Model;
}

<h1>Oh Snap!</h1>

<div>
    <strong>An Error has occured:</strong><br />
    <b>@message</b>
</div>

