@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Howdy Ho User-ino</h1>
<p>How'd you get in here!?</p>
<a asp-area="Identity" asp-action="Login">Please Login!</a>